

.container { 
    text-align: center;
    align-content: center;
    /* All font */  
    font-family: 'Roboto', sans-serif;
}  

.row-1 { 
    display: flex;
    justify-content: center;
    align-items: center;
}
img { 
    height: 35rem;
    width: 35rem;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
}

button { 
    cursor:pointer;
    margin: 1rem;
}


/* for joke-set page html    */
 .pick-a-setup{ 
    font-size: 20px;
}  
.btn-lg { 
    background-color: #86B2CB;
    border-radius: 60px;
    font-size: 24px; 
}   

.joke { 
    color: black;
    text-decoration: none;
}   

/* mouse over link for all a tags */
a:hover {
    color: black;
    text-decoration: none;
  }


/* for generate joke page html    */ 

.setup-joke { 
    padding: 30px;
    background-color: #C4C4C4;
    border-radius: 60px;
    font-size: 30px;
}

.punchline { 
    padding: 15px;
    background-color: #C4C4C4;
    border-radius: 60px;
    font-size: 30px; 
    font-weight: bold;
    color: rgb(0,0,0);
} 
.quote { 
    padding: 10px;
    background-color: #C4C4C4;
    border-radius: 60px;
    font-size: 20px;
    font-weight: bold;
} 

.space { 
    padding: 2rem;
}

/* All elements that are hidden*/ 
.hidden-1 { 
    display: none;
}  

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.red { 
    color: red;
}

/* The media queries below will automatically adjust the set width of the
container class depending on the size of the current browser window. Notice
how the containers get smaller as the size of the screen gets smaller. Without
media queries, building responsive designs is almost impossible, as it is important
for the content of the website to adapt to the screen it is displayed on. */


@media only screen and (max-width: 768px) {
    .container{
        max-width: 575px;
    }
    
}

